/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет белый #FFFFFF */
/* цвет акцент #2196F3 */
/* цвет футер емейл и тел  rgba(255, 255, 255, 0.6)*/
:root {
	--tittle-text-color: #212121;
	--secondary-text-color: #757575;
	--white-color: #ffffff;
	--acent-text-color: #2196f3;
	--footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
	font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
	text-decoration: none;
}
/* site-nav */
.logo-part {
	color: #2196f3;
}
.logo {
	color: #000000;
}
.nav-list,
.link {
	color: var(--tittle-text-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
	color: var(--acent-text-color);
}
.nav-list .link .current {
	color: var(--acent-text-color);
}
.auth-nav .link {
	color: var(--secondary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
	color: var(--acent-text-color);
}
.list {
	list-style: none;
}
/* Section */
.section-tittle {
	color: var(--tittle-text-color);
}
